<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <h1>欢迎来到首页！</h1>
    <script type="text/javascript" src="/static/js/common/jquery.min.js"></script> <!-- 引入jquery框架 -->
    <script type="text/javascript" src="/static/js/common/basic.js"></script> <!-- 引入项目的访问路径 -->
    <script type="text/javascript" src="/static/js/common/cookie_util.js"></script><!-- 引入cookie -->
</head>
<body>
<button type="button" id="logout">退出</button>
</body>
<script type="text/javascript">
    $(function () {
        $('#logout').click(logout);
    });

    function logout() {
        delCookie(login_cookie_key);
        window.location.href = "/doLoginOut";
    }
</script>
</html>